* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(87, 85, 85);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container__item-list {
    color: aliceblue;
    display: flex;
    margin: 15px;
    flex-direction: column;
}

.listItem {
    border: 2px solid rgb(0, 0, 0);
    color: aliceblue;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: #222;
}

.btn,
.listBtn {
    cursor: pointer;
    padding: 5px;
    color: black;
    background-color: aliceblue;
}